body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 350px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.del {
  background-color: lightcoral;
}
.del:hover {
  background: red !important
}
.btn:hover {
  background: #0056b3;
}
.msg {
  font-size: 13px;
  margin-top: 5px;
}
.success { color: green; }
.error { color: red; }